.mt-40rem {
    margin-top: -38rem;
}

@media (min-width: 768px) and (max-width: 1072px) {
    .displayNone {
        display: none;
    }
}
/*

.articles .article12 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1100px;
}

.articles .article34 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1100px;
}

.articles .article12 .article .imgPlanta {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.articles .article34 .article .imgPlanta {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.nomePlanta {
    font-size: 30px;
    margin-bottom: 20px;
}

.saibamais a {
    text-decoration: none;
    color: white;
    background-color: rgb(6, 167, 113);
    padding: 10px;
    border-radius: 12px;
}

.conhecaMais a {
    text-decoration: none; 
    padding: 20px;
    color: white;
    background-color: rgb(6, 167, 113);   
    border-radius: 12px;
    font-size: 30px;
}

.conhecaMais {
    text-align: center;
    margin-top: 80px;
}

.textFooter {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 30px;
}

.footer {
    margin-top: 120px;
    padding-bottom: 40px;
    height: 100px;
    background-color: rgb(13, 100, 13);
}

.divsSobreNos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.imgSobreNos {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.textSobreNos {
    width: 600px;
    font-size: 30px;
}

.titleSobreNos {
    font-size: 80px;
    margin-bottom: 30px;
}

.imgPlanta {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.divsPlantas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

.divsNomeTextPlanta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.nomePlantaTitle {
    font-size: 80px;
}

.textPlanta {
    font-size: 30px;
}

.titlePlantas {
    font-size: 50px;
    margin-left: 20px;
}

.imgsFicusLyrata {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    border-radius: 12px;
}

.imgPlantasGaleria {
    width: 380px;
    height: 380px;
    border-radius: 12px;
}

@media (max-width: 1024px) {
    body {
        margin: 0 auto;
        width: 100%;
        background-color:aliceblue;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .navDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
        font-size: 25px;
    }

    .banner {
        width: 100%;
        height: 400px;
    }
    
    .textPI {
        font-size: 30px;
        position: absolute;
        border-radius: 12px;
        color: white;
        width: 1000px;
        height: 50px;
        margin-top: -250px;
        margin-left: 40px;
        padding: 10px;
    }
    
    .bottomDM {
        font-size: 20px;
        padding: 10px;
        position: absolute;
        border-radius: 20px;
        background-color: rgb(6, 167, 113);
        margin-top: -150px;
        margin-left: 150px;
    }

    .vistaVerde {
        width: 220px;
        height: 220px;
    }
    
    .textVistaVerde {
        font-size: 12px;
        width: 200px;
    }
    
    .titleH3 {
        font-size: 40px;
        margin: 0px 0px 40px 60px;
    }

    .articles .article12 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 600px;
    }
    
    .articles .article34 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 600px;
    }
    
    .articles .article12 .article .imgPlanta {
        width: 150px;
        height: 150px;
        border-radius: 12px;
    }
    
    .articles .article34 .article .imgPlanta {
        width: 150px;
        height: 150px;
        border-radius: 12px;
    }

    .nomePlanta {
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    .conhecaMais a {
        text-decoration: none; 
        padding: 20px;
        color: white;
        background-color: rgb(6, 167, 113);   
        border-radius: 12px;
        font-size: 12px;
    }
}
*/